<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/css/style.css">
    <title>PJControl</title>
</head>
<body>
    <!-- <div class="adsense-box">
        <p>Espaço para anúncio</p>
    </div> -->

    <div class="container">
        <h1>Bem vindo a PJControl</h1>
        <h2>Preencha os dados abaixo:</h2>
        <form method="POST">
            Valor da base de calculo:
            <input type="number" inputmode="numeric" pattern="[0-9]*" name="base_calculo"><br>

            Pro-Labore:
            <input type="number" inputmode="numeric" pattern="[0-9]*" name="prolabore"><br>

            DAS %:
            <input type="number" inputmode="numeric" pattern="[0-9]*" name="das"><br>

            INSS %:
            <input type="number" inputmode="numeric" pattern="[0-9]*" name="inss"><br>

            Custos fixos:
            <input type="number" inputmode="numeric" pattern="[0-9]*" name="fixos"><br>

            Custos variáveis:
            <input type="number" inputmode="numeric" pattern="[0-9]*" name="variavel"><br>

            % Reserva:
            <input type="number" inputmode="numeric" pattern="[0-9]*" name="reserva"><br>

            <button type="submit">Calcular</button>
        </form>
    </div>
</body>
</html>
