<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Calcular PJ</title>
</head>
<body>
    <h2>Preencha os dados</h2>
    <form method="POST">
        Valor do contrato: <input type="text" name="contrato"><br>
        Custos fixos: <input type="text" name="fixos"><br>
        Custos variáveis: <input type="text" name="variavel"><br>
        % Aliquota: <input type="text" name="aliquota"><br>
        % Reserva: <input type="text" name="reserva"><br>
        <button type="submit">Calcular</button>
    </form>
</body>
</html>
